# Entornos virtuales
venv/
.venv/
__pycache__/
*.pyc

# Archivos de configuración locales
.env

# Archivos de bases de datos
*.db

# Directorios de compilación de Python
*.egg-info/
*.egg/
dist/
build/

# Editores
.idea
.vscode

# Archivos de claves
/auth_keys